body {
	overflow-x:hidden;
	background-color:#0d2034;
	position:relative;
}

.cover {
	position:relative;
	height: 100vh;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.overlay {
	position: relative;
	height:100%;
	overflow-y:hidden;
	overflow-x:hidden;
	background-image: url(assets/overlay.png);
	background-repeat: no-repeat;
	background-position: top;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#landing {
	background-color:#000;
}

.background {
	position: relative;
	opacity:0;
	height:100%;
	overflow-y:hidden;
	overflow-x:hidden;
	background-image: url(assets/precise.jpg);
	background-repeat: no-repeat;
	background-position: bottom right;
	background-size: cover;
	background-attachment:fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.year {
	font-family:Roboto;
	font-weight:800;
	font-size:50vh;
	color:#fff;
	opacity:0.1;
	position:absolute;
	bottom:-5vh;
	right:1vh;
	z-index:0;
}

.particles {
	opacity:0;
}

.squares {
	z-index:1; 
	position:relative;
}

.date {
	opacity:0;
}

.time {
	opacity:0;
	background: rgba(228, 21, 26, 0.416);
}

.talk {
	opacity:0;
	background: rgba(228, 21, 26, 0.3185);
}

.talk:hover {
	background: rgba(228, 21, 26, 0.75);
	pointer:cursor;
}

.logo {
	opacity:0;
	position: relative;
	height:100%;
	overflow-y:hidden;
	overflow-x:hidden;
	background-image: url(assets/logo.png);
	background-repeat: no-repeat;
	background-size: cover;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-o-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-webkit-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}

.logo:hover {
	position: relative;
	height:100%;
	overflow-y:hidden;
	overflow-x:hidden;
	background-image: url(assets/logo-hover.png);
	background-repeat: no-repeat;
	background-size: cover;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-o-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-webkit-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}

.tickets {
	opacity:0;
	position: relative;
	height:100%;
	overflow-y:hidden;
	overflow-x:hidden;
	background-image: url(assets/tickets.svg);
	background-repeat: no-repeat;
	background-size: cover;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-style: solid;
	border-color: rgba(228, 21, 26, 0.84);
	border-width: 7px;
	-o-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-webkit-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}

.tickets:hover {
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.9);
	border-width: 7px;
	-o-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-webkit-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}

.hover {
	height:100%;
	width:100%;
	z-index:1;
	opacity: 0;
	-o-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-webkit-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}

.hover:hover {
	opacity: 1.0;
	-o-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-webkit-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}

.img-fluid {
	width:100%;
}

#about {
	background-color:#fff;
	padding-top:5vh;
	padding-bottom:5vh;
}

#keynote {
	height:50vh;
}

.menu {
	background-color:rgba(255, 255, 255, 0.11);
	background-image:none;
	border:0px;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	margin:0;
	overflow-x:hidden;
	width: 40px;
	z-index:1;
}

.about-text {
	line-height:1.5;
	text-align:center;
}

p, ul {
	font-family:Open Sans;
	padding-top:3vh;
	line-height:1.6;
}

.white {
	color:#fff;
}

h1 {
	font-family: Roboto;
	font-weight:900;
}

h2 {
	font-family: Roboto;
	font-weight:400;
}

a {
	color:#4659a3;
}

a:hover {
	color:#a34659;
	text-decoration:none;
}

a:focus {
	text-decoration:none;
	color:#a34659;
}

.spotlight {
	font-family:Roboto;
	font-weight:800;
	margin:0;
	line-height:1.2;
}

.spotlight-box {
	color: #0d2034;
	position:absolute;
	margin:0;
}

.keynote-background {
	position: relative;
	width:100%;
	overflow-y:hidden;
	overflow-x:hidden;
	background-image: url(assets/keynote.png);
	background-position: top;
	background-size: 100%;
	background-repeat:no-repeat;
}

.title {
	font-family:Roboto;
	font-weight:800;
}

.title-box {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:5vh;
}

.whitepaper {
	font-family:Roboto;
	font-weight:700;
	letter-spacing:2px;
	background-color: rgba(0, 0, 0, 0.1);
	margin-top:15px;
	margin-bottom:0;
	padding:8px;
	color:#4659a3;
	text-transform:uppercase;
}

.expand {
	font-family:Roboto;
	background-color:rgba(13,32,52, 0.7);
	position:relative;
	height:100%;
	width:100%;
	padding:10px;
}

.author {
	font-weight:400;
	color:rgba(255, 255, 255, 0.6);
	background-color:rgba(13,32,52, 0.3);
	padding-top:0px;
}

.arrow {
	color:#fff;
}

.arrow:hover {
	color:#868f99;
}

.arrow:focus {
	color:#868f99;
}

.precise-views {
	background-color:rgba(13,32,52, 0.5);
	padding-top:50px;
}

.precise-views-under {
	position:absolute;
	z-index:0;
}

.precise-views-over {
	position:relative;
	z-index:1;
}

.precise-views-overlay {
	opacity:0.4;
}

.keynote-backdrop {
	position: relative;
	width:100%;
	background-image: url(assets/speaker_transition.jpg);
	background-repeat: repeat-y;
	background-position: top right;
	background-size: 100%;
	padding-bottom:30vh;
}

#speakers {
	background-color:#fff;
	padding-top:15px;
	margin-bottom:15vh;
}

.speaker-rows {
	margin-top:35px;
}

.card {
	margin-top:10px;
	height:100%;
	border:0px;
	-webkit-box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.1); 
	box-shadow: 2px 2px 5px 2px rgba(0,0,0,0.1);
}

.card:hover {
	margin:-0.2vh -0.2vw 0vh -0.2vw;
	height:100%;
	border:0px;
	-webkit-box-shadow: 5px 5px 10px 5px rgba(13,32,52,0.2); 
	box-shadow: 5px 5px 10px 5px rgba(13,32,52,0.2);
	cursor:pointer;
	-o-transition: opacity 0.5s ease-in-out;
	-ms-transition: opacity 0.5s ease-in-out;
	-moz-transition: opacity 0.5s ease-in-out;
	-webkit-transition: opacity 0.5s ease-in-out;
	transition: opacity 0.5s ease-in-out;
}

.card:hover .card-body {
	padding:22px;
}

.card-img-top {
	opacity:0.9;
}

.card:hover .card-img-top {
	opacity:1;
}

.card:hover .card-text {
	color:#a34659;
}

.card-body {
	padding:20px;
	text-align:center;
}

.card-text {
	padding-top:0;
	line-height:1.3;
	padding-bottom:5px;
}

.card .company {
	font-weight:900;
	text-transform:uppercase;
	margin-bottom:0;
	padding-bottom:6px;
	padding-top:6px;
	color:rgba(0, 0, 0, 0.5);
}

.modal .company {
	font-weight:900;
	margin:0;
	color:rgba(13,32,52, 0.7);
	padding:0 20px;
	font-size:15px;
}

.speaker-talk {
	font-weight:300;
}

.card-title {
	margin-bottom:0;
}

.modal {
	font-family:Open Sans;
}

.modal-title {
	font-weight:300;
	padding:0 20px;
}

.modal-header {
	background-color:rgba(13,32,52, 0.1);
}

.modal-footer {
	height:60px;
}

button {
	font-family:Roboto;
}

button:hover {
	cursor:pointer;
	font-family:Roboto;
}

.close {
	position:absolute;
	top:18px;
	right:18px;
}

ul {
	margin-top:15px;
}

li {
	padding: 2px 0px;
}

.schedule {
	padding:1px 5px;
	border-top:1px solid rgba(255, 255, 255, 0.3);
}

.last {
	border-bottom:1px solid rgba(255, 255, 255, 0.3);
}

.blue:hover {
	background-color:rgba(255,255,255, 0.1);
	color:#fff;
}

a>.schedule:hover {
	background-color:rgba(228, 21, 26, 0.4);
	color:#fff;
}

.schedule-text {
	padding:2px;
	margin:2px;
}

#agenda {
	padding-bottom:15vh;
}

.button {
	padding: 1vw 1.5vw 1vw 1.5vw; 
	margin-left: auto;
	margin-right:auto;
	border-radius: 6px; 
	text-align:center;
	color:#fff;
	background-color:rgba(228, 21, 26);
	border-width: 0px;
	font-family: Roboto;
	font-weight:900;
	moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
	min-width:250px;
	max-width:500px;
}

.button:hover {
	cursor:pointer;
	background-color: rgba(255, 101, 106);
	color:#fff;
	moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.button:focus {
	outline:0px;
}

#travel {
	padding-top:5vh;
	background-color:rgba(255, 255, 255);
}

#travel p {
	padding:0;
	margin:0;
}

#travel ul {
	padding-top:0;
}

#travel .padded {
	margin-top:5vh;
}

.google_map{
    width:100%;
    margin-right:2%;
    float: left;
	height:100%;
	margin-bottom:20px;
}

.venue {
	text-align:center;
	padding-bottom:5vh;
}

.events-text a {
	color:#4659a3;
	text-decoration: underline;
}

.events-text a:hover {
	color:#a34659;
	text-decoration: underline;
}

.events-text h1 {
	color:white;
}

.events-text p {
	color:white;
	display: inline;
}

#past-events {
	position: relative;
	overflow-y:hidden;
	overflow-x:hidden;
	background-repeat: no-repeat;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.spotlight-highlight {
	background-color:rgba(255, 255, 255, 0.8);
	margin:0;
	padding:0;
	line-height:0.7;
}

.travel-highlight {
	background-color:rgba(13,32,52, 0.8);
	padding:5px;
	color:#fff;
	padding-right:auto;
}

.highlights {
	margin-left:20px;
	padding-left:15px;
	border-left:solid;
	border-color:rgba(0, 0, 0, 0.3);
	border-width:3px;
	color:rgba(0, 0, 0, 0.8);
}

#agenda a {
	color:rgba(255, 255, 255, 0.75);
}

#agenda a:hover {
	color:rgba(255, 255, 255);
	font-weight:900;
	cursor:pointer;
}

@media (max-width:576px) {
	p, ul {
		font-size:12px;
	}

	h1 {
		font-size:18px;
	}

	h2 {
		font-size:16px;
	}

	.min-padding {
		height:60vh;
		min-height:310px;
	}

	.squares {
		z-index:1;
	}

	.empty {
		width:10px;
		height:90px;
	}

	.square {
		width:90px;
		height:90px;
	}

	.background {
		min-height: 550px;
	}

	.overlay {
		min-height:550px;
	}

	.keynote-background {
		height:65vw;
	}

	.keynote-background .keynote-text {
		background-color:rgba(255, 255, 255);
		text-align:center;
		margin-top:55vw;
		height:10vw;
		padding:14px;
		-webkit-box-shadow: 5px 5px 10px 3px rgba(0,0,0,0.7); 
		box-shadow: 5px 5px 10px 3px rgba(0,0,0,0.7);
	}

	.keynote-text {
		max-width:90%;
		margin-left:auto;
		margin-right:auto;
		background-color:#fff;
		text-align:center;
		margin-top:-10vw;
		-webkit-box-shadow: 5px 5px 10px 3px rgba(0,0,0,0.2); 
		box-shadow: 5px 5px 10px 3px rgba(0,0,0,0.2);
	}

	.keynote-text>.padded {
		padding:14px 14px 5px 14px;
	}

	.keynote-text .main {
		text-align:left;
		padding:0 12px 0 12px;
	}

	.title {
		font-size:24px;
		letter-spacing:1px;
		font-weight:900;
	}

	.author {
		font-size:10px;
	}

	.spotlight-box {
		top:1vh;
		left:5%;
	}

	.spotlight {
		font-size:35px;
		letter-spacing:1px;
		font-weight:900;
	}

	.precise-views-overlay {
		width:200px;
		margin-top:3px;
	}

	.precise-views-over {
		margin-top:32px;
	}

	.about-text {
		font-size:18px;
	}

	#about p {
		padding-top:6px;
		margin-bottom:0;
	}

	#about ul {
		padding-top:0;
		margin-top:5px;
	}
	
	.particles {
		position:absolute;
		width:100vw;
		top:10px;
		left:20px;
	} 

	.company {
		font-size:12px;
	}

	.speaker-talk {
		padding-top:0px;
		font-size:12px;
	}

	.agenda-transition {
		background-image:url(assets/transition-agenda-med.svg);
		background-repeat:no-repeat;
		background-position:bottom;
		background-size:100% auto;
	}

	.button {
		font-size:18px;
		padding:10px;
	}

	.card {
		max-width:230px;
		margin-left:auto;
		margin-right:auto;
	}

	.modal-lg {
		max-width:100%;
	}

	.schedule-text {
		font-size:14px;
	}

	.schedule .col-md-4 {
		padding:0;
		padding-left:10%;
	}

	.modal ul {
		font-size:13px;
		padding-top:0;
	}

	.modal p {
		padding:5px 20px 0px 20px;
		font-size:13px;
	}

	.modal-title {
		font-size:16px;
	}

	#past-events {
		height: 335px;
		background-size: 450px;
		background-position: center;
		padding-top:20px;
		background-image: url(assets/past-events-large.png);
	}

	.events-title {
		letter-spacing:2px;
		margin-left: auto;
		margin-right: auto;
	}

	.events-text {
		text-align: center;
	}

	.events-text h1 {
		font-size: 23px;
		line-height: 2;
		display: inline;
	}
}

@media (min-width:576px) and (max-width:768px) {
	p, ul {
		font-size:14px;
	}

	h1 {
		font-size:20px;
	}

	h2 {
		font-size:18px;
	}

	.min-padding {
		height:60vh;
		min-height:350px;
	}

	.squares {
		z-index:1;
	}

	.empty {
		width:10px;
		height:110px;
	}

	.square {
		width:110px;
		height:110px;
	}

	.background {
		min-height: 600px;
	}

	.overlay {
		min-height:600px;
	}

	.keynote-background {
		height:65vw;
	}

	#about p {
		padding-top:6px;
		margin-bottom:0;
	}

	#about ul {
		padding-top:0;
		margin-top:5px;
	}

	.keynote-background .keynote-text {
		background-color:rgba(255, 255, 255);
		text-align:center;
		margin-top:55vw;
		height:10vw;
		padding:14px;
		-webkit-box-shadow: 5px 5px 10px 3px rgba(0,0,0,0.7); 
		box-shadow: 5px 5px 10px 3px rgba(0,0,0,0.7);
	}

	.keynote-text {
		max-width:90%;
		margin-left:auto;
		margin-right:auto;
		background-color:#fff;
		text-align:center;
		margin-top:-10vw;
		-webkit-box-shadow: 5px 5px 10px 3px rgba(0,0,0,0.2); 
		box-shadow: 5px 5px 10px 3px rgba(0,0,0,0.2);
	}

	.keynote-text>.padded {
		padding:14px 14px 5px 14px;
	}

	.keynote-text .main {
		text-align:left;
		padding:0 12px 0 12px;
	}

	.title {
		font-size:26px;
		letter-spacing:1px;
		font-weight:900;
	}

	.author {
		font-size:12px;
		max-width:350px;
		margin-left:auto;
		margin-right:auto;
	}

	.spotlight-box {
		top:2vh;
		left:3%;
	}

	.spotlight {
		font-size:40px;
		letter-spacing:1px;
		font-weight:900;
	}

	.precise-views-overlay {
		width:250px;
		margin-top:3px;
	}

	.precise-views-over {
		margin-top:13px;
		text-indent:206px;
	}

	.about-text {
		font-size:22px;
	}
	
	.particles {
		position:absolute;
		width:100vw;
		top:-50px;
		left:20px;
	} 

	.company {
		font-size:13px;
	}

	.speaker-talk {
		padding-top:0px;
		font-size:12px;
	}

	.schedule-text {
		font-size:14px;
	}

	.agenda-transition {
		background-image:url(assets/transition-agenda-med.svg);
		background-repeat:no-repeat;
		background-position:bottom;
		background-size:100% auto;
	}

	.schedule .col-md-4 {
		padding-top:0;
		padding-left:11%;
	}

	.button {
		font-size:18px;
		padding:10px;
	}

	.modal ul {
		font-size:13px;
		padding-top:0;
	}

	.modal p {
		padding:5px 20px 0px 20px;
		font-size:13px;
	}

	.modal-title {
		font-size:16px;
	}

	#past-events {
		height: 270px;
		background-size: 320px;
		background-position: left;
		padding-top:10px;
		background-image: url(assets/past-events-cropped.png);
	}

	.events-br {
		display: none;
	}

	.events-title {
		letter-spacing:2px;
		position:absolute;
		top: 0;
		left: 6%;
	}

	.events-text h1 {
		font-size: 25px;
		line-height: 2;
		display:inline;
		vertical-align:middle;
	}

	.events-text p {
		font-size:15px;
	}
	
	.event-1 {
		margin-left: 260px;
		display: inline;
	}
	
	.event-2 {
		margin-left: 235px;
		display: inline;
	}
	
	.event-3 {
		margin-left: 210px;
		display: inline;
	}
	
	.event-4 {
		margin-left: 185px;
		display: inline;
	}
	
	.event-5 {
		margin-left: 160px;
		display: inline;
	}
}

@media (min-width:768px) and (max-width:992px) {
	p, ul {
		font-size:14px;
	}

	h1 {
		font-size:22px;
	}

	h2 {
		font-size:20px;
	}

	.min-padding {
		height:50vh;
		min-height:350px;
	}

	.squares {
		z-index:1;
	}

	.schedule-text {
		font-size:15px;
	}

	.empty {
		width:50px;
		height:50px;
	}

	.square {
		width:130px;
		height:130px;
	}

	.background {
		min-height: 650px;
	}

	.overlay {
		min-height:650px;
		margin-left:40px;
	}

	#about {
		margin-left:40px;
	}

	#about p {
		padding-top:8px;
		margin-bottom:0;
	}

	#about ul {
		padding-top:0;
		margin-top:5px;
	}

	.about-text {
		font-size:28px;
	}

	#keynote {
		padding-left:40px;
	}

	.keynote-background {
		height:61vw;
	}

	.keynote-background .keynote-text {
		background-color:rgba(255, 255, 255);
		text-align:center;
		margin-top:51vw;
		padding:14px;
		height:10vw;
		-webkit-box-shadow: 5px 5px 10px 3px rgba(0,0,0,0.7); 
		box-shadow: 5px 5px 10px 3px rgba(0,0,0,0.7);
	}

	.keynote-text {
		max-width:90%;
		margin-left:auto;
		margin-right:auto;
		background-color:#fff;
		text-align:center;
		margin-top:-10vw;
		-webkit-box-shadow: 5px 5px 10px 3px rgba(0,0,0,0.2); 
		box-shadow: 5px 5px 10px 3px rgba(0,0,0,0.2);
	}

	.keynote-text>.padded {
		padding:14px 14px 5px 14px;
	}

	.keynote-text .main {
		text-align:left;
		padding:0 12px 0 12px;
	}

	.title {
		font-size:30px;
		letter-spacing:2px;
		font-weight:900;
	}

	.author {
		font-size:13px;
		margin-left:auto;
		margin-right:auto;
	}

	.spotlight-box {
		top:2vh;
		left:2.5%;
	}

	.spotlight {
		font-size:50px;
		letter-spacing:1px;
		font-weight:900;
	}

	.precise-views-overlay {
		width:300px;
		margin-top:5px;
	}

	.precise-views-over {
		margin-top:20px;
		text-indent:243px;
	}

	.particles {
		position:absolute;
		width:85vw;
		top:-90px;
		left:20px;
	}

	.card-text {
		font-size:14px;
	}

	.agenda-transition {
		background-image:url(assets/transition-agenda-med.svg);
		background-repeat:no-repeat;
		background-position:bottom;
		background-size:contain;
		width:100%;
	}

	.schedule .col-md-4 {
		text-align:right;
	}

	.button {
		font-size:16px;
		padding:12px;
	}

	.modal ul {
		font-size:13px;
		padding-top:0;
	}

	.modal p {
		padding:5px 20px 0px 20px;
		font-size:13px;
	}

	.modal-title {
		font-size:16px;
	}

	#past-events {
		height: 420px;
		background-size: 430px;
		background-position: left;
		background-image: url(assets/past-events-cropped.png);
	}

	.events-title {
		letter-spacing:2px;
		position:absolute;
		top: 0;
		left: 6%;
	}

	.events-text h1 {
		font-size: 40px;
		line-height: 2;
		vertical-align:middle;
	}
	
	.events-text p {
		font-size: 17px;
		padding-left:5px;
	}
	
	.event-1 {
		margin-left: 355px;
		display: inline;
	}
	
	.event-2 {
		margin-left: 320px;
		display: inline;
	}
	
	.event-3 {
		margin-left: 285px;
		display: inline;
	}
	
	.event-4 {
		margin-left: 250px;
		display: inline;
	}
	
	.event-5 {
		margin-left: 215px;
		display: inline;
	}
}

@media (min-width:992px) and (max-width:1200px) {
	p, ul {
		font-size:15px;
	}

	h1 {
		font-size:24px;
	}
	
	h2 {
		font-size:22px;
	}

	.min-padding {
		height:50vh;
		min-height:360px;
	}

	.squares {
		z-index:1;
	}

	.empty {
		width:80px;
		height:150px;
	}

	.square {
		width:150px;
		height:150px;
	}

	.background {
		min-height: 700px;
	}

	.overlay {
		min-height:700px;
		margin-left:40px;
	}
	
	#about {
		margin-left:40px;
	}

	#about p {
		padding-top:8px;
		margin-bottom:0;
	}

	#about ul {
		padding-top:0;
		margin-top:8px;
	}

	.about-text {
		font-size:28px;
	}

	#keynote {
		padding-left:40px;
	}

	.keynote-background {
		height:50vw;
	}

	.keynote-background .keynote-text {
		background-color:rgba(255, 255, 255);
		text-align:center;
		margin-top:40vw;
		padding:16px;
		height:10vw;
		-webkit-box-shadow: 5px 5px 10px 3px rgba(0,0,0,0.7); 
		box-shadow: 5px 5px 10px 3px rgba(0,0,0,0.7);
	}

	.keynote-text {
		max-width:90%;
		margin-left:auto;
		margin-right:auto;
		background-color:#fff;
		text-align:center;
		margin-top:-10vw;
		-webkit-box-shadow: 5px 5px 10px 3px rgba(0,0,0,0.2); 
		box-shadow: 5px 5px 10px 3px rgba(0,0,0,0.2);
	}

	.keynote-text>.padded {
		padding:16px 16px 10px 16px;
	}

	.keynote-text .main {
		text-align:left;
		padding:0 12px 0 12px;
	}

	.spotlight-box {
		top:3vh;
		left:3%;
	}

	.spotlight {
		font-size:60px;
		letter-spacing:1px;
		font-weight:900;
	}

	.title {
		font-size:40px;
		letter-spacing:2px;
		font-weight:900;
	}

	.author {
		font-size:15px;
		margin-left:auto;
		margin-right:auto;
	}

	.precise-views-overlay {
		margin-top:10px;
		width:400px;
	}

	.precise-views-over {
		margin-top:35px;
		text-indent:330px;
	}

	.particles {
		position:absolute;
		width:80%;
		top:-100px;
		left:80px;
	}

	.card-text {
		font-size:14px;
	}

	.agenda-transition {
		background-image:url(assets/transition-agenda-med.svg);
		background-repeat:no-repeat;
		background-position:bottom;
		background-size:contain;
		width:100%;
	}

	.button {
		font-size:22px;
		padding:15px;
	}

	.schedule .col-md-4 {
		text-align:right;
	}

	.modal ul {
		font-size:16px;
		padding-top:0;
	}

	.modal p {
		padding:5px 20px 0px 20px;
		font-size:16px;
	}

	#past-events {
		height: 470px;
		background-size: 550px;
		background-position: left;
		background-image: url(assets/past-events-cropped.png);
	}

	.events-title {
		letter-spacing:2px;
		position:absolute;
		top: 0;
		left: 10%;
	}

	.events-text h1 {
		font-size: 45px;
		line-height: 2;
		vertical-align:middle;
	}
	
	.events-text p {
		font-size: 20px;
		padding-left:5px;
		padding-top:0px;
		vertical-align:middle;
	}
	
	.event-1 {
		margin-left: 455px;
		display: inline;
	}
	
	.event-2 {
		margin-left: 420px;
		display: inline;
		vertical-align:middle;
	}
	
	.event-3 {
		margin-left: 385px;
		display: inline;
	}
	
	.event-4 {
		margin-left: 350px;
		display: inline;
		vertical-align:middle;
	}
	
	.event-5 {
		margin-left: 315px;
		display: inline;
	}
}

@media (min-width:1200px) {
	p, ul{
		font-size:16px;
	}

	h1 {
		font-size:24px;
	}

	h2 {
		font-size:22px;
	}

	.min-padding {
		height:50vh;
		min-height:360px;
	}

	.squares {
		z-index:1;
	}

	.empty {
		width:150px;
		height:150px;
	}

	.square {
		width:150px;
		height:150px;
	}

	.background {
		min-height: 700px;
	}

	.overlay {
		min-height:700px;
		margin-left:40px;
	}

	#about {
		margin-left:40px;
	}

	#about p {
		padding-top:8px;
		margin-bottom:0;
	}

	#about ul {
		padding-top:0;
		margin-top:8px;
	}

	.about-text {
		font-size:30px;
	}

	#keynote {
		padding-left:40px;
	}

	.keynote-background {
		height:51vw;
	}

	.keynote-background .keynote-text {
		background-color:rgba(255, 255, 255);
		text-align:center;
		margin-top:41vw;
		padding:24px;
		height:10vw;
		-webkit-box-shadow: 5px 5px 10px 3px rgba(0,0,0,0.7); 
		box-shadow: 5px 5px 10px 3px rgba(0,0,0,0.7);
	}

	.keynote-text {
		max-width:90%;
		margin-left:auto;
		margin-right:auto;
		text-align:center;
		background-color:#fff;
		margin-top:-10vw;
		-webkit-box-shadow: 5px 5px 10px 3px rgba(0,0,0,0.2); 
		box-shadow: 5px 5px 10px 3px rgba(0,0,0,0.2);
	}

	.keynote-text>.padded {
		padding:24px 24px 10px 24px;
	}

	.keynote-text .main {
		text-align:left;
		padding:0 12px 0 12px;
	}

	.spotlight-box {
		top:4vh;
	}

	.spotlight {
		font-size:500%;
		letter-spacing:1px;
		font-weight:900;
	}

	.title {
		font-size:50px;
		letter-spacing:2px;
		font-weight:900;
	}

	.author {
		font-size:15px;
		margin-left:auto;
		margin-right:auto;
	}

	.precise-views-overlay {
		width:400px;
	}

	.precise-views-over {
		margin-top:25px;
		text-indent:330px;
	}

	.particles {
		position:absolute;
		max-width:1000px;
		width:70%;
		top:-100px;
		left:80px;
	}

	.card-text {
		font-size:15px;
	}

	.agenda-transition {
		background-image:url(assets/transition-agenda-large.svg);
		background-repeat:no-repeat;
		background-position:bottom;
		background-size:contain;
		width:100%;
	}

	.schedule .col-md-4 {
		text-align:right;
	}

	.button {
		font-size:30px;
		padding:18px;
	}

	.modal ul {
		font-size:16px;
		padding-top:0;
	}

	.modal p {
		padding:5px 20px 0px 20px;
		font-size:16px;
	}

	.parking {
		max-width:112px;
	}

	#past-events {
		height: 520px;
		background-size: 1100px;
		background-position: center;
		background-image: url(assets/past-events-large.png);
		padding-top:15px;
	}

	.events-br {
		display: none;
	}

	.events-title {	
		letter-spacing:2px;
		position:absolute;
		top: 0;
		left: 10%;

	}

	.events-text h1 {
		font-size: 50px;
		line-height: 2;
		vertical-align:middle;
	}
	
	.events-text p {
		font-size: 25px;
		padding-left:5px;
	}
	
	.event-1 {
		margin-left: 50%;
		display: inline;
	}
	
	.event-2 {
		margin-left: 47%;
		display: inline;
	}
	
	.event-3 {
		margin-left: 43%;
		display: inline;
	}
	
	.event-4 {
		margin-left: 40%;
		display: inline;
	}
	
	.event-5 {
		margin-left: 37%;
		display: inline;
	}
}

::-webkit-scrollbar {
	width:6px;
}

::-webkit-scrollbar-thumb {
	background:rgba(255, 255, 255, 0.5);
	border-radius:2px;
}

::-webkit-scrollbar-track {
	background:rgba(13,32,52, 0.7);
}